<div *ngIf ="profile">
    <div class ="panel panel-default">
        <div class="panel-heading">
           {{profile.name}} <small>{{profile.login}}</small>
           <span *ngIf ="profile.company">, Works at {{profile.company}}</span>
           {{profile.location}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avater_url}}" class="img-circle img-responsive" alt="Profile Image">

                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li  class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                        <li  class="list-group-item" *ngIf="profile.hireable">available for hire</li>
                        <li  class="list-group-item" *ngIf="profile.blog">{{profile.blog}}</li>
                        <li  class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>


                    </ul>

                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                         <span class="label label-default">{{profile.followers}} Followers</span>
                         <span class="label label-default"> following {{profile.following}} </span>
                         <span class="label label-default">{{profile.public_gists}} public_gists</span>
                         <span class="label label-default">{{profile.public_repos}} public_repos</span>
                        </p>
                        <p><a> href="{{profile.html_url}}" class="btn btn-success btn-small">View Profile on github</a></p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
